{% extends "base.html" %}
{% block title %}Добавить операцию{% endblock %}
{% block content %}
    <h1>Добавить операцию</h1>
    <form method="POST">
        <label class="form-label">Сумма: <input type="number" name="amount" required class="form-control" ></label><br>
        <label class="form-label">Категория:
            <select name="category_id" required class="form-select"  >
                <optgroup label="Доходы">
                    {% for category in income_categories %}
                        <option value="{{ category[0] }}">{{ category[1] }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Расходы">
                    {% for category in expense_categories %}
                        <option value="{{ category[0] }}">{{ category[1] }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </label><br>
        <label class="form-label">Дата: <input type="datetime-local" name="date" required class="form-control" ></label><br>
        <label class="form-label">Тип операции:
            <select name="operation_type" class="form-select"  >
                <option value="доход">Доход</option>
                <option value="расход">Расход</option>
            </select>
        </label><br>
        <label class="form-label">Комментарий: <input type="text" name="comment" class="form-control" ></label><br>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}