
{% extends "base.html" %}
{% block title %}Система учёта расходов и доходов текущего и капитального ремонта жилой недвижимости{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Текущий баланс: {{ balance }}</h1>
  </div>
  <h2>Последние операции</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Сумма</th>
            <th>Категория</th>
            <th>Дата</th>
            <th>Тип операции</th>
            <th>Комментарий</th>
        </tr>
    </thead>
    <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation[0] }}</td>
                <td>{{ operation[1] }}</td>
                <td>{{ operation[2] }}</td>
                <td>{{ operation[3] }}</td>
                <td>{{ operation[4] }}</td>
                <td>{{ operation[5] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
  </div>
  {% endblock %}