{% extends "base.html" %}
{% block title %}Просмотр операций{% endblock %}
{% block content %}
    <h1>Последние операции</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Сумма</th>
                <th>Категория</th>
                <th>Дата</th>
                <th>Тип операции</th>
                <th>Комментарий</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
                <tr>
                    <td>{{ operation[0] }}</td>
                    <td>{{ operation[1] }}</td>
                    <td>{{ operation[2] }}</td>
                    <td>{{ operation[3] }}</td>
                    <td>{{ operation[4] }}</td>
                    <td>{{ operation[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Импорт/экспорт операций</h3>
    <form method="POST" action="{{ url_for('load_operations_csv') }}" enctype="multipart/form-data">
        <label>Загрузить операции из CSV: <input type="file" name="file" accept=".csv" required></label>
        <button type="submit">Загрузить</button>
    </form>
    <form method="GET" action="{{ url_for('export_operations_csv') }}">
        <button type="submit">Выгрузить операции в CSV</button>
    </form>
   </div>
    {% endblock %}